/*The Box Model and its Components*/

.box-model {
  margin: 50px auto;
  border: 3px solid red;
  padding: 50px;
  width: 100px;
}

/*Inline Vs. Block*/

.inline-vs-block {
  border: 1px dotted gray;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*Positioning*/

.square {
  width: 100px;
  height: 100px;
  color: white;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 48px;
}

.spacing-container {
  height: 500px;
  width: 500px;
  background-color: gray;
  position: relative;
}

.one {
  background-color: red;
  position: static;
}

.two {
  background-color: blue;
  position: relative;
  top: -100px;
  left: 100px;
}

.three {
  background-color: green;
  position: absolute;
  top: 200px;
  left: 200px;
}

.four {
  background-color: black;
  position: fixed;
  right: 100px;
  top: 80%;
}

/*Floats*/

.img-example {
  float: left;
  width: 400px;
}

.columns > div {
  float: left;
  width: 50%;
}
