<h1 class="center-text">Buffy Was Here</h1>
<img src="http://25.media.tumblr.com/tumblr_m3nlxbJMXt1qkx3d4o2_250.gif" alt="here we go" class="margin-image">
<br>
<h3 class="center-text">Welcome to the Rails CRUD Lab!</h3>
<p>For this lab, you're going to replace comments with code to get full CRUD working in this app!</p>

<ol>
	<li>Run <code>rake db:seed</code> to add some vampires to your database. <em>Note: if you run this again later, it will clear out all existing vampires in your database before creating four new ones.</em></li>
	<li>Check out the <code>vampires_controller</code> and replace the comments with code.</li>
	<li>Check out the <code>routes.rb</code> file and add all of the RESTful routes for the vampires resource.</li>
	<li>Go through all of the files inside <code>app/views/vampires</code> and add replace the comments with code.</li>
</ol>

<h4 class="center-text">Workflow tips:</h4>

<ul>
	<li>Work one controller action at a time (do the controller action, route, and view for index, then all three for show, etc.</li>
	<li>Read the errors! The red screen of constructive criticism is there to help you &#9786;</li>
</ul>

<img src="https://mrjonniewright.files.wordpress.com/2014/01/buffy-here-endeth-the-lesson.gif" alt="end" class="margin-image">
