<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h2>Todo</h2>
	<%= todos[index].todo %><br>
	<%= todos[index].done %><br>

	<form action='todos/:id' method="patch">
    <input type="text" name="editTodo" placeholder="todo">
    <input type="submit" value="Edit Todo">
  </form>
  <br><br>
</body>
</html>