<h1>Welcome to CaTinder!</h1>

<h2>Pets start here.</h2>

<h3>Who is Meow, and who is Not-Meow? You decide!</h3>


<div class="container-fluid">
	
	<div class="row">
		<div class="image col-lg-4">
			<%= image_tag("cat1.jpg") %>
			<p>I'm so fabulous</p>
	 	</div>
		<div class="image col-lg-4">
			<%= image_tag("cat2.jpg") %>
			<p>My son needs a father</p>
		</div>
		<div class="image col-lg-4">
			<%= image_tag("cat3.jpg") %>
			<p>I love food</p>
		</div>		
	</div>

</div>